@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
}

#output {
  padding: 20px;
  width: 100%;
  text-align: center;
}

.top-nav {
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-logo-image {
  display: inline-block;
  height: 8em;
}

.nav-logo-text {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  font-size: 4em;
  font-weight: 500;
  text-transform: lowercase;
}

.banner {
  min-height: 500px;
  background: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 50px;
}

.banner-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 62px;
  font-weight: 600;
  color: #fff;
  margin: 0;
}

.place-details > li {
  margin-bottom: 45px;
}
.place-details > li > label {
  margin-right: 10px;
}
.place-details > li > span,
.place-details > li > label {
  font-size: 70px;
  font-weight: 600;
}