@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  padding-top: 35px;
}

.loader {
  margin-top: 200px;
  text-align: center;
}

.loader i {
  vertical-align: middle;
}

.loader span {
  font-size: 20px;
  vertical-align: middle;
}

#output {
  padding: 20px;
  width: 100%;
  text-align: center;
}

.well {
  padding: 0;
  padding-bottom: 1px;
  border: 0px solid transparent;
  box-shadow: 2px 2px 11px rgba(0,0,0,0.15);
}

.list-unstyled {
  margin: 0 15px;
}

.top-nav {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffb747;
}

.nav-logo-image {
  display: inline-block;
  height: 35px;
}

.nav-logo-text {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 500;
  text-transform: lowercase;
}

.banner {  
  min-height: 160px;
  background: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 20px;
}

.banner-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  margin: 0;
  text-shadow: 2px 2px 50px #000;
}

.place-details > li {
  margin-bottom: 10px;
}
.place-details > li > label {
  margin-right: 10px;
}
.place-details > li > span,
.place-details > li > label {
  font-size: 20px;
  font-weight: 600;
  color: #282c42;
}

.btn-action {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  border-color: transparent;
}

.btn-primary {
  background: #ffb747;
}